<div class="route-container" style={{routeContainerStyle}}>
    <img class="vignette" alt="vignette" src="assets/vignette.png">
    <canvas id="source-canvas" width={{canvasWidth}} height={{canvasHeight}}></canvas>
    <canvas id="altered-canvas" width={{canvasWidth}} height={{canvasHeight}}></canvas>
    <div class="outlet-container">
        {{outlet}}
    </div>
</div>