<div class="input-container">
    <button {{action onEsc }}>Esc</button>
    {{input value=inputValue type="text"}}
    <button {{action onScreenInput }}>Submit</button>
    <br />
    <button {{action onUp}}>UP</button>
    <button {{action onDown}}>DOWN</button>
    <button {{action onLeft}}>L</button>
    <button {{action onRight}}>R</button>
</div>
